.dashboard-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    max-height: 100vh;

    &__page-content {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "aside main";

        &::-webkit-scrollbar-track {
            background-color: var(--white);
        }

        &::-webkit-scrollbar {
            width: 0.25rem;
            background-color: var(--white);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--gray-300);
            padding-inline: var(--space-3xs);
        }
    }
}
