.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--gray-300);

    &__wrapper {
        padding: var(--space-xl) var(--space-2xl) var(--space-lg);
        margin: 0 auto;
        max-width: 1600px;
        width: 100%;
    }

    &__main {
        display: flex;
        gap: 80px;
        padding-bottom: var(--space-xl);
        border-bottom: 1px solid var(--gray-900);
    }

    &__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-sm);
        padding-top: var(--space-lg);
        color: var(--off-white);
    }

    &__copyright-divider {
        width: 1px;
        height: 24px;
        background-color: var(--off-white);
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);

        &:first-child {
            gap: var(--space-lg);

            p {
                max-width: 400px;
            }
        }

        h4 {
            color: var(--off-white);
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);

        &--horizontal {
            margin-top: var(--space-2xs);

            & > .footer__link {
                display: flex;
                width: 300px;
                justify-content: space-between;

                span:first-child {
                    font-weight: var(--fw-semi-bold);
                    color: var(--off-white);
                }
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: var(--space-md);
    }

    &__social-btn {
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: var(--gray-800);
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease 0.1s;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        img {
            height: 20px;
        }
    }

    &__logo {
        height: 70px;
        width: fit-content;
    }
}
