.matching-tricks {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding-inline: var(--space-2xl);
    margin-bottom: var(--space-3xl);

    &__content {
        background-color: var(--off-white);
        box-shadow: 0px 4px 8px var(--drop-shadow);
        padding: var(--space-lg);

        h4 {
            font-size: var(--fs-md);
            font-weight: var(--fw-semi-bold);
            color: var(--black);
            margin-bottom: var(--space-sm);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-2xs);
    }

    &__trick {
        position: relative;
        padding: var(--space-md) var(--space-lg);
        border-radius: 5px;
        background-color: var(--gray-100);
        transition: all ease 0.2s;

        p {
            width: 0;
            min-width: 100%;
            white-space: nowrap;
            overflow-x: hidden;
            color: var(--black);
        }

        &:hover {
            cursor: pointer;
            background-color: var(--gray-200);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 7px;
            background-color: var(--lime-green-500);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
}
