@use "../../../sass/breakpoints.scss" as *;

.trick-list {
    max-width: 1600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: var(--space-sm);
    padding-inline: var(--space-xl);
    margin-bottom: var(--space-3xl);

    @include breakpoint(desktop) {
        grid-template-columns: repeat(2, 1fr);
    }
}
