.member-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm);
    border: 1px solid var(--gray-300);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &__section {
        display: flex;
        align-items: center;
        gap: var(--space-sm);

        &:first-child {
            width: 100%;
        }
    }

    &__toggle-button {
        height: 50px;
        padding-inline: var(--space-lg);
        outline: none;
        background-color: var(--gray-100);
        border: 1px solid var(--gray-300);
        border-radius: 5px;
        transition: all ease 0.2s;

        &--active {
            border: 1px solid var(--gray-500);
            background-color: var(--gray-200);
        }

        &:hover {
            background-color: var(--gray-200);
            cursor: pointer;
        }
    }
}
