.member-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm);
    border: 1px solid var(--gray-300);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
