:root {
    --lime-green-900: #3b470f;
    --lime-green-500: #c4e63f;
    --lime-green-400: #d8fd46;

    --black: #1f1f1f;

    --gray-900: #3f3f3f;
    --gray-800: #434343;
    --gray-600: #696969;
    --gray-500: #757575;
    --gray-400: #a5a5a5;
    --gray-300: #bfbfbf;

    --off-white: #fcfcfc;
    --white: #ffffff;
}
