.member-table-row {
    &__value {
        display: flex;
    }

    &__user-home-cable div {
        display: flex;
        align-items: center;
        gap: var(--space-sm);

        img {
            width: 12px;
            height: fit-content;
        }
    }

    &__user-contact-info > div {
        display: flex;
        flex-direction: column;
        gap: var(--space-3xs);
    }

    &__user-email {
        display: flex;
        align-items: center;
        gap: var(--space-sm);

        img {
            height: 12px;
            width: fit-content;
        }
    }

    &__user-phone-number {
        display: flex;
        align-items: center;
        gap: var(--space-sm);

        img {
            height: 12px;
            width: fit-content;
        }
    }

    &__user-is-trainer > div {
        padding: var(--space-3xs) var(--space-xs);
        background-color: var(--lime-green-500);
        color: var(--lime-green-900);
        font-weight: var(--fw-semi-bold);
        width: fit-content;
    }
}
