.member-table {
    max-width: 1600px;
    width: 100%;
    padding-inline: var(--space-2xl);
    margin-bottom: var(--space-3xl);

    &__container {
        border-collapse: collapse;
        width: 100%;
        max-width: 1600px;
        overflow-x: scroll;
        white-space: nowrap;
    }

    &__head {
        tr {
            background-color: var(--black);
        }

        th {
            text-align: left;
            padding: var(--space-2xs) var(--space-xl) var(--space-2xs) var(--space-sm);
            color: var(--off-white);
        }
    }

    &__body {
        tr {
            border: 1px solid var(--gray-300);

            &:nth-child(odd) {
                background-color: var(--gray-100);
            }
        }

        td {
            color: var(--gray-500);
            padding: var(--space-2xs) var(--space-xl) var(--space-2xs) var(--space-sm);
        }
    }

    &__pagination {
        padding: var(--space-sm);
        border: 1px solid var(--gray-300);
        border-top-width: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
