.add-user-form {
    margin-bottom: var(--space-3xl);

    &__general-message {
        width: 100%;
        padding: var(--space-sm) var(--space-md);
        border-radius: 5px;
        margin-bottom: var(--space-md);

        &--ok {
            background-color: var(--sea-blue-200);
            color: var(--sea-blue-600);
        }

        &--error {
            background-color: var(--error-bg);
            color: var(--error-text);
        }
    }

    fieldset {
        all: initial;
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        padding-bottom: var(--space-xl);
        border-bottom: 1px solid var(--gray-300);
        margin-bottom: var(--space-xl);

        legend {
            color: var(--black);
            margin-bottom: var(--space-lg);
            font-size: var(--fs-md);
            font-weight: var(--fw-semi-bold);
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space-sm);
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--space-2xs);

        &--full-width {
            grid-column: span 2;
        }

        label {
            font-weight: var(--fw-semi-bold);
        }
    }

    &__toggle {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__toggle-btn {
        height: 50px;
        width: 100%;
        outline: none;
        transition: all ease 0.3s;
        border: none;
        color: var(--gray-500);

        &--active {
            background-color: var(--gray-200);
            border: 1px solid var(--gray-500);
            color: var(--black);
        }

        &:hover {
            background-color: var(--gray-200);
            cursor: pointer;
        }

        &:nth-child(1) {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:nth-child(2) {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}
