.member-actions {
    max-width: 1600px;
    width: 100%;
    padding: var(--space-2xl) var(--space-2xl) var(--space-sm);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title h3 {
        font-size: var(--fs-xl);
        font-weight: var(--fw-normal);
        color: var(--black);
    }

    &__total-amount {
        font-weight: var(--fw-semi-bold);
        color: var(--lime-green-500);
    }
}
