.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        background-color: var(--gray-600);
        cursor: pointer;
    }

    &__checkmark {
        width: 20px;
        height: 20px;
        padding: 3px;
        position: absolute;
        background-color: var(--lime-green-500);
        border-radius: 3px;
        opacity: 0;
        pointer-events: none;
        transition: all ease 0.3s;

        &--active {
            opacity: 1;
        }
    }
}
