.section-label {
    padding: var(--space-2xs) var(--space-lg);
    background-color: var(--lime-green-500);
    color: var(--lime-green-900);
    width: fit-content;
    font-size: var(--fs-xl);
    height: 100%;
}
