.input {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    padding-inline: var(--space-sm);
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    transition: all ease 0.2s;
    height: 50px;

    &:hover {
        background-color: var(--gray-200);
    }

    &__icon {
        width: 18px;
    }

    &__main {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        input {
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: var(--black);

            &::placeholder {
                color: var(--gray-500);
            }
        }
    }
}
