.expectations {
    max-width: 1600px;
    margin: 0 auto;
    padding: var(--space-xl) var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);

    &__intro {
        display: flex;
        align-items: center;
        gap: var(--space-2xl);

        p {
            width: 800px;
        }
    }

    &__list {
        display: flex;
        gap: var(--space-sm);
    }
}
